[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "*"
gunicorn = "*"
pvlib = "*"
pythermalcomfort = "*"
dash-bootstrap-components = "*"
flask-caching = "*"
dash-extensions = "*"

[dev-packages]
cleanpy = "*"
pytest = "*"
bump2version = "*"

[requires]
python_version = "3.8"
