[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pythermalcomfort = "==1.6.0"
dash = "*"
pvlib = "*"

[dev-packages]
cleanpy = "*"

[requires]
python_version = "3.8"
