ansi2html==1.9.2
black==25.1.0
blinker==1.9.0
bump2version==1.0.1
cachelib==0.9.0
certifi==2025.7.14
charset-normalizer==3.4.2
cleanpy==0.5.1
click==8.2.1
dash==2.15.0
dash-bootstrap-components==1.2.0
dash-core-components==2.0.0
dash-extensions==1.0.7
dash-html-components==2.0.0
dash-iconify==0.1.2
dash-mantine-components==0.12.1
dash-table==5.0.0
dataclass-wizard==0.22.3
EditorConfig==0.17.1
Flask==2.3.3
Flask-Caching==2.0.2
h5py==3.14.0
idna==3.10
importlib_metadata==8.7.0
iniconfig==2.1.0
itsdangerous==2.2.0
Jinja2==3.1.6
jsbeautifier==1.15.4
llvmlite==0.44.0
MarkupSafe==3.0.2
more-itertools==9.1.0
mypy_extensions==1.1.0
narwhals==2.0.1
nest-asyncio==1.6.0
numba==0.61.2
numpy==1.26.3
packaging==25.0
pandas==2.2.0
pathspec==0.12.1
platformdirs==4.3.8
plotly==5.18.0
pluggy==1.6.0
pvlib==0.9.1
Pygments==2.19.2
pytest==8.4.1
pythermalcomfort==2.9.1
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.4
retrying==1.4.1
ruff==0.12.7
scipy==1.12.0
six==1.17.0
tenacity==9.1.2
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
Werkzeug==3.0.6
zipp==3.23.0
