Brotli==1.0.9certifi==2021.10.8charset-normalizer==2.0.12click==8.1.2colorama==0.4.4dash==2.3.1dash-bootstrap-components==1.0.3dash-core-components==2.0.0dash-extensions==0.0.71dash-html-components==2.0.0dash-table==5.0.0EditorConfig==0.12.3Flask==2.1.1Flask-Caching==1.10.1Flask-Compress==1.11gunicorn==20.1.0h5py==3.6.0idna==3.3importlib-metadata==4.11.3itsdangerous==2.1.2Jinja2==3.1.1jos3==0.3.1jsbeautifier==1.14.2llvmlite==0.38.0MarkupSafe==2.1.1more-itertools==8.12.0numba==0.55.1numpy==1.21.5pandas==1.4.1plotly==5.6.0pvlib==0.9.1pythermalcomfort==1.11.0python-dateutil==2.8.2pytz==2022.1requests==2.27.1scipy==1.8.0six==1.16.0tenacity==8.0.1urllib3==1.26.9Werkzeug==2.1.0zipp==3.7.0