.container-col {
    display: flex; 
    flex-direction: column;
}

.container-row {
    display: flex;
    flex-direction: row;
}

.container-center {
    justify-content: center;
    align-items: center;
}

.full-width {
    width: 100%;
}


