.container-col {
    display: flex; 
    flex-direction: column;
}

.container-row {
    display: flex;
    flex-direction: row;
}

/* #react-entry-point {
    height: 100vh;
    width: 100vw;
} */

/* #big-container {
    height: 100vh;
    width: 100vw; 
    border: 0px;
} */

