/**Tabs**/
#tabs-container {
    height: 100vh;
    padding: 0px;
    padding-top: 0px;
}

.tab-container {
    height: 100%;
    margin-top: 22px;
}

#tabs {
    margin: 0px;
}

#tabs-content {
    height: auto;
    padding: 0px 24px 50px 24px;
}

#tabs-parent {
    padding: 0px 24px 0px 24px;
}

#store-container { 
    padding: 0px;
}

/**Tab One**/
#tab-one-container {
    height: 100%;
    margin-top: 22px;
}

#tab-one-form-container {
    justify-content: space-between;
}

#store-container {
    height: 100%;
}

#input-url {
    width: 90%;
}
#submit-button {
    width: 7%;
}

#tab-one-map {
    margin-top: 28px;
    height: 100%;
    width: 100%;
}

#tooltip-title-container {
    padding: 10px;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}


/**Tab Two**/
#tooltip-title-container {
    padding: 0px;
}

#tooltip-title-container h5 {
    margin-right: 10px;
}

#tab-four-container {
    margin-top: 24px; 
}

#tab-two-4-container {
    justify-content: space-between;
}



