/**Banner**/
#banner-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

#banner-subtitle { 
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    max-height: 25px;
}