/**Banner**/
#banner { 
    padding: 1rem;
    background-color: #003262;
    color: white;
    /* position: sticky; */
    z-index: 1;
}

#banner-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

#banner-subtitle { 
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    max-height: 25px;
}