.marker-cluster-small {
  background-color: rgba(248, 249, 250, 0.6);
}
.marker-cluster-medium {
  background-color: rgba(172, 227, 251, 0.6);
}
.marker-cluster-large {
  background-color: rgba(35, 139, 230, 0.6);
}
.marker-cluster-small div {
  background-color: rgba(240, 247, 249, 0.8);
}
.marker-cluster-medium div {
  background-color: rgba(172, 227, 251, 0.8);
}
.marker-cluster-large div {
  background-color: rgba(35, 139, 230, 0.8);
}
