#footer-container {
    padding: 0 10% 0 10%;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #003262;
    height: 30%;
}

#footer-container * {
    margin: 10px;
}

#cbe-logo {
    height: 80px;
}



