.container-col {
    display: flex; 
    flex-direction: column;
}

.container-row {
    display: flex;
    flex-direction: row;
}

.justify-center {
    justify-content: center;
}

.align-center{
    align-items: center;
}

.container-stretch {
    align-items: stretch;
}

.full-width {
    width: 100%;
}

.doc-modal-body img {
    box-sizing: border-box;
    width: 100%; //or any percentage width you want
}


