/* Tabs */
#tabs-container {
    height: 100vh;
    padding: 0px;
    padding-top: 0px;
}

#tabs {
    margin: 0px;
}

#tabs-content {
    height: auto;
    padding: 30px 24px 50px 24px;
}

#tabs-parent {
    padding: 0px 24px 0px 24px;
    background-color: #003262 !important;
}

#store-container { 
    padding: 0px;
}

#loading-container {
    top: 0;
}

.custom-tabs-container {
    width: 85%;
}
.custom-tabs {
    border-top-left-radius: 3px;
    background-color: #f9f9f9;
    padding: 0px 24px;
    border-bottom: 1px solid #d6d6d6;
}

.custom-tab {
    color:#586069;
    border-color: lightgrey;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top: 3px solid transparent !important;
    border-left: 1px solid lightgrey !important;
    border-right: 1px solid lightgrey !important;
    background-color: #fafbfc;
    padding: 12px !important;
    font-family: "system-ui";
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.custom-tab--selected {
    color: black;
    box-shadow: 1px 1px 0px white;
    border-left: 1px solid lightgrey !important;
    border-right: 1px solid lightgrey !important;
    border-top: 6px solid #abd2ff !important;
}

/* Tab One */
#tab-one-container {
    height: 100%;
    padding-top: 0px;
}

#tab-one-form-container {
    justify-content: space-between;
}

#store-container {
    height: 100%;
}

#input-url {
    width: 90%;
}
#submit-button {
    width: 7%;
}

#tab-one-map {
    margin-top: 28px;
    height: 100vh;
    width: 100%;
}

#tooltip-title-container {
    padding: 10px;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

#map-credits {
    padding-top: 10px;
}


/* Tab Two */
#tab-two-container {
    justify-content: space-between;
    width: 100vw;
}

#tab2-sec1-container, #tab2-sec2-container {
    margin-bottom: 32px;
    padding-bottom: 16px;
}

#tab2-sec2-container {
    height: 100vh;
    width: 100vw; 
}

#location-info, #location-description {
    padding: 12px 12px 12px 12px; 
}

p {
    margin-bottom: 0;
}

#world-map {
    height: 65%;
}

#tooltip-title-container {
    padding: 12px 12px 0px 12px;
}

#tooltip-title-container h5 {
    margin-right: 10px;
}

#graph-container {
    height: 100%;
    width: 100%;
    align-items: stretch;
}

.violin-container {
    height: 100%;
    width: 25%;
    display: flex;
    align-items: stretch;
}

.loading-violin-container {
    width: 100%;
    height: 100%;
}

#temp-profile-graph, #humidity-profile-graph, #solar-radiation-graph, #wind-speed-graph {
    height: 100%;
    width: 100%;
}


/* Tab Four */
#tab-four-container {
    width: 100%;
    justify-content: center;
    align-items: center;
}

#tab-four-custom-sun-container {
    justify-content: space-evenly;
    align-items: stretch;
    align-content: center;
    height: 100vh;
}

#custom-sunpath {
    width: 100%;
    height: 100%;
}

#sunpath-container {
    height: 80%;
}

/* #sunpath-loading-container {
    height: 100%;
} */

.text-dropdown-container {
    align-items: center;
}

#custom-sun-view-dropdown {
    width: 25%;
}

#custom-sun-var-dropdown {
    width: 50%;
}

/* Tab Five */
#tab-five-container {
    justify-content: center;
    align-items: center;
    align-items: stretch;
}

#tab5-daily-container {
    margin-top: 60px;
}

#slider-container {
    width: 50%;
    margin: 24px;
}

#custom-wind-rose, #wind-rose {
    width: 1200px;
    height: 800px
}

.seasonal-graph {
    width: 80%;
    height: 80%;
}

.daily-wind-graph {
    width: 90%;
    height: 90%;
}

#slider-container * {
    justify-content: center;
}

.each-slider {
    padding: 32px 0px 0px 0px;
    width: 60%;
}

#hour-slider, #month-slider {
    width: 60%;
}

#wind-speed, #wind-direction {
    width: 100%;
}

.seasonal-text {
    width: 75%;
}

.daily-text {
    width: 65%;
}

#custom-windrose-container {
    margin-top: 80px;
}

#tab5-custom-dropdown-container {
    margin-top: 30px;
}

#tab5-custom-start-month, #tab5-custom-start-hour, #tab5-custom-end-month, #tab5-custom-end-hour {
    width: 35%;
}

.tab5-custom-half-container {
    width: 20%;
}

/* Tab Six */

#first-var-dropdown {
    width: 15%;
}

.month-hour-slider {
    width: 25%;
}

.var-dropdown {
    width: 35%;
}

.num-input {
    width: 15%;
}

#min-val, #max-val {
    width: 15%;
}

.row-center {
    align-items: center;
    justify-content: center;
}

.text-next-to-input {
    margin-bottom: 0px;
    margin-right: 18px;
}

#sec1-var-dropdown {
    width: 15%;
}

#sec2-var-dropdown, #sec2-data-filter-var, #sec3-filter-var-dropdown, #var-x-dropdown, #var-y-dropdown, #colorby-dropdown {
    width: 65%;
}

.three-inputs-container {
    justify-content: space-evenly;
}

.one-of-three-container {
    width: 30%;
    align-self: flex-start;
    align-items: center;
    align-items: stretch;
}

#tab6-sec2-container {
    align-items: stretch;
}

#sec3-query-hour-slider, #sec3-query-month-slider, #sec2-hour-slider, #sec2-month-slider {
    width: 65%;
}

#sec3-max-val, #sec3-min-val, #sec2-max-val, #sec2-min-val {
    width: 65%
}

/* Tab 9 */
#tab9-sec3-query-month-slider, #tab9-sec3-query-hour-slider {
    width: 100%;
}

#tab9-colorby-dropdown, #tab9-sec3-max-val, #tab9-sec3-min-val, #tab9-sec3-filter-var-dropdown {
    width: 75%;
}





