*[data-dash-is-loading="true"]{
    visibility: hidden;
}
*[data-dash-is-loading="true"]::before{
    content: "";
    display: inline-block;
    color: magenta;
    visibility: visible;
    height: 10rem
}

/* Tab Six */

#first-var-dropdown {
    width: 15%;
}

.month-hour-slider {
    width: 25%;
}

.var-dropdown {
    width: 35%;
}

#min-val, #max-val {
    width: 15%;
}

.row-center {
    align-items: center;
    justify-content: center;
}

.text-next-to-input {
    margin-bottom: 0;
    margin-right: 1rem;
    text-align: right;
}

#sec1-var-dropdown {
    width: 25%;
}

.three-inputs-container {
    justify-content: space-evenly;
}

.one-of-three-container {
    width: 30%;
    align-self: flex-start;
    align-items: stretch;
}

#tab6-sec2-container {
    align-items: stretch;
}

.survey-alert {
    color: white;
    background-color: #0c2772;
    opacity: 0.98;
    font-family: "system-ui";
    font-size: 15px;
    border-radius: 0.25rem;
    border: 0.5px solid lightgrey;
    z-index: 1000;
}

